<%= form_for @musique, :html => { :multipart => true } do |f| %>
  <% if @musique.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@musique.errors.count, "error") %> prohibited this musique from being saved:</h2>

      <ul>
      <% @musique.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.file_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>